:root {
    --green:  #1BC768;
    --mainTxt: #252B42;
    --pTags: #737373;
    --imgs:  #DDEEFE;

}


@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
} 

.product {
    padding-left: 225px;
}
h6 {
    color: var(--green);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;     
}

h2 {

    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--mainTxt);
}

#problems {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--pTags);
    width: 469px;
    height: 40px;
}